---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Kushal';
const description = 'my protoflio, blog website';
const permalink = Astro.site.href;

let allPosts = await Astro.glob('../data/auto-write/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="flex flex-col py-[3rem] md:flex-row lg:px-[15rem] lg:py-[10rem] items-center">
    <div class="flex-1 flex flex-row justify-around items-center"><img src="/assets/playground_pic.png"></div>
    <div class="flex-1 items-start flex flex-col gap-2 md:gap-4 pl-2 md:pl-0 pt-4 md:pt-0">
      <div class="flex flex-col gap-1 md:gap-4 text-[1rem] md:text-[1.2rem]">
        <h1 class="text-[#525051] font-[Sora] text-[1.8rem] md:text-[2.5rem] not-italic font-bold leading-[120%]">Im Kushal</h1>
        <p>Here I show case my Work, thoughts, interests to the world.</p>
        <p>Please Reach out. I wanna connect with awesome humans across the internet</p>
        <p>Also, I am making myself cold email people I admire, This web would be a nice intro for that. As Brian Chesky said it, <br/>"To build Trust, you have to remove strange from the stranger"</p>
      </div>
      <div class="flex flex-row gap-4">
        <a href="mailto:kushalsokke@gmail.com?subject=Coffee!" class="underline text-[#9B9692] font-bold hover:italic hover:text-[#DA95DE]">Email</a>
        <a href="https://twitter.com/KushalSM5" class="underline text-[#9B9692] font-bold hover:italic hover:text-[#DA95DE]">Twitter</a>
        <a href="https://github.com/kiluazen" class="underline text-[#9B9692] font-bold hover:italic hover:text-[#DA95DE]">Github</a>
      </div>
      <div class="flex flex-row gap-4">
        <span>Curated Lists : </span>
        <a href="/books" class="underline text-[#9B9692] hover:font-bold hover:text-[#DA95DE]">Reading List</a>
        <a href="/podcasts" class="underline text-[#9B9692] hover:font-bold hover:text-[#DA95DE]">Podcasts</a>
        <a href="essays" class="underline text-[#9B9692] hover:font-bold hover:text-[#DA95DE]">Essays</a>
      </div>
    </div>
  </div>

  <div class="md:flex lg:px-[21rem] flex-col gap-[2rem] pl-2 md:pl-0">
    <h1 class="text-[#525051] font-[Sora] text-[1.8rem] md:text-[2.5rem] not-italic font-bold leading-[120%]">Shit Posting</h1>
  {allPosts.map((post, index) => {
    const { Content, frontmatter } = post
    return (
      <div>
        { index !== 0 && <hr class="border-[#DA95DE] py-2"/> }
        <div class="flex flex-col gap-2 pr-10 md:pr-0">
            <div>
              <h2 class="text-[#525051] font-[Sora] text-[1.5rem] not-italic font-bold leading-[120%]">
                {post.frontmatter.title}
              </h2>
            </div>
            <div class="text-[#525051] font-[Sora] non-italic font-bold">
              <span class="">{post.frontmatter.publishDate}</span>
            </div>

            <div class="font-[Sora] text-[1rem] md:text-[1.5rem]"><Content /></div>
          </div>
        </div>
      </div>
    )
  })}
  </div>
</BaseLayout>

<style>

  .auto-write-css{
    font-size: 1.2em;
    padding-left: 2em;
  }
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 3em 2em;
    min-height: 300px;
  }
  .home-container{
    background-image: '/assets/playground_pic.png';
  }

  .home-copy {
    flex: 1;
    padding: 0em 10em;
    text-align: center;
  }
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }
  .home-copy h1 {
    font-weight: 600;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }
  .home-copy span{
    font-size: 1.4em
  }
  .home-copy a {
    padding-left: 1em;
    font-size: 1.2em;

  }

  .hero-image-container {
    margin: 0 10em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1em;
    }

    .hero-image {
      max-width: 400px;
    }
    .home-copy{
      padding: 0em;
      margin: 0em;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      /* padding-bottom: 2em; */
      padding:0em;
      text-align: center;
      margin:0em;
    }
  }
</style>
